@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--color-font);
    font-family: var(--main-font);
}
html{
    overflow: hidden;
}
a{
    text-decoration: none;
}
:root {
    --color-primary-0: #000000;
    --color-action-0: #00ffff;
    --color-third-0: rgb(0, 66, 66);
    --color-secondary-0: #FFFFFF;
    --color-font: #FFFFFF;
    --color-font-dark: #070707;
    --main-font: 'Rubik', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* App */
    .main-section {
        background-color: var(--color-primary-0);

        background:  url("./pictures/asd-modified.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
        box-shadow: inset 0px 100px 250px  10000px rgba(0, 0, 0, 0.92);        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-section.is_inverted{
        background-color: var(--color-primary-0);

        background:  url("./pictures/asd-dark.png"), linear-gradient(0deg, rgba(61, 61, 61, 0.9), rgba(255, 255, 255, 0.9));
        box-shadow: inset 0px 100px 250px  1000px rgba(214, 214, 214, 0.88);        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main{
        background-image: linear-gradient(rgb(3, 3, 3), rgb(5, 5, 5), rgb(10, 10, 10), rgb(15, 15, 15));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }


/* /App */


/* NavBar */
header{
    margin-top: 0rem;
    padding: 1.5rem 0rem;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}
.end-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 0 2rem;
    margin-right: 1rem;
}
header .logo{
    font-size: 2.25rem;
    font-family: 'Inspiration', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-font);
    padding: 0 2rem;
    
}

.contact-button{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 100vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.103);
    margin: -8px 2rem 0 2rem;
    color: var(--color-font);
    border: var(--color-action-0)  3px solid;
    box-shadow: 0px 0px 8px var(--color-action-0);
    transition: ease-in 500ms;
    overflow: hidden;
    z-index: 3;
}
.contact{
    position: absolute;
    left: 21px ;
    font-size: 1.25rem;
    cursor: pointer;
}
.contact.hover{
    position: absolute;
    font-size: 1.25rem;
    left: -160px;
    background-color: #00ffff;
    width: 156px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    color: white;
    z-index: 6;
    border: 0px;
    cursor: pointer;
}

.contact-button:hover > .contact.hover{
    left:0px;
    color: black;
    transition: ease-in 500ms 100ms;
}
.contact-button:hover > .contact{
    position: absolute;
    color: white;
    left: 100px;
    transition: ease-in 500ms 100ms;
}
@keyframes slide {
    100% {
        left: 0px;
        
    }
}
.contact-button.is_inverted{
    color: var(--color-font-dark);
    border: var(--color-third-0) 3px solid;
    box-shadow: 0px 0px 8px var(--color-third-0);
    background-color: rgba(245, 245, 245, 0.151);
}
       /* Styling the menu button */
       
    .menu-btn {
        position: relative;
        z-index: 99999;
        /* right: 35px;
        top: 40px; */
        cursor: pointer;
        transition: all 0.5s ease-out;
    }   /* Styling the hamburger lines */
    .menu-btn .btn-line {
        width: 40px;
        height: 4px;
        margin: 0 0 10px 0;
        background: var(--color-secondary-0);
        transition: all 0.5s ease-out;
    }
    .menu-btn .btn-line.is_inverted{
        background: var(--color-primary-0);
    }

    /* blob{
        width: 1000px;
        position: absolute;
        top: -200px;
        right: -500px;
        height: 1000px;
        filter: drop-shadow(1px 2px 8px var(--color-third-0));
    } */
    /* Adding transform to the X */
    .closingcircle{
        background-color: var(--color-primary-0);
        position: absolute;
        border-radius: 100vw;
        width: 250px;
        height: 220px;
        right: -200px;
        top: -220px;
        transition: 350ms ease-out;
        z-index: 9999;
    }
    .closingcircle.open{
        filter: drop-shadow(1px 1px 4px var(--color-primary-0));
        right: -100px;
        top: -120px;
    }
    .menu-btn.close {
        transform: rotate(180deg);
    }

    /* Styling the three lines to make it an X */
    .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }

    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -9px);
    } 
    .menublob{
        position: absolute;
        top: -500px;
        right: -1000px;
        width: 1000px;
        height: 1000px;
        z-index: 9997;
        /* display: none; does give more performance*/
        transition: 650ms ease-out;
    }
    .menublob.open{
        /* display: block; does give more performance*/
        top: -200px;
        right: -500px;
        
    }
    .menu{
        position: absolute;
        width: 300px;
        height: 600px;
        z-index: 9998;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -600px;
        right: -300px;
        transition: 500ms ease-out;
        opacity: 0;
        /* display: none; does give more performance*/
    }
    .menu.open{
        top: 0;
        right: 0;
        /* display: block; does give more performance*/
        opacity: 1;
    }
    .menu #links{
        font-size: 2.25rem;
        font-weight: bold;
        margin: 1rem;
    }

    .menu #links.active{
        color: rgba(255, 255, 255, 0);
        color: var(--color-third-0);
        text-shadow: -1.5px 1.5px 0 #ffffff,
                      1px 1.5px 0 #ffffff,
                     1px -1px 0 #ffffff;
    }
    /* Styling the position of the menu icon */
    /* .menu {
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
        visibility: hidden;
    }

    .menu.show {
        visibility: visible;
    } */

    /* Adding a transition delay
      to the 4 items in the
      navigation menu */
    /* .nav-item:nth-child(1) {
        transition-delay: 0.1s;
    }

    .nav-item:nth-child(2) {
        transition-delay: 0.2s;
    }

    .nav-item:nth-child(3) {
        transition-delay: 0.3s;
    }

    .nav-item:nth-child(4) {
        transition-delay: 0.4s;
    } */
/* NavBar */



/* Home */
.main-section{
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
}
.content h1{
    font-size: 48px;
    text-align: center;
}

.content h1 .iam {
    font-size: 36px;
}
.content h1 .world{
    font-size: 64px;
    color: var(--color-action-0);
}
.content h1 .exclamation{
    font-size: 64px;
}
.content h1 .name {
    font-size: 48px;
    color: var(--color-action-0);
}    
.content h1.is_inverted, .iam.is_inverted, .exclamation.is_inverted{
    color: rgb(8, 8, 8);
}

.content h1 .name.is_inverted, .content h1 .world.is_inverted{
    color: var(--color-third-0);
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.button{
    border-radius: 20px;
    padding: 1rem .5rem;
    width: 100%;
    border: 1px solid black;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.projects{
    background-color: var(--color-action-0);
}
.about-me{
    background-color: var(--color-secondary-0);
}
.button p{
    color: rgb(7, 7, 7);
    font-size: 32px;
    font-weight: bold;
}
.line{
    width: 20px;
    height: 5px;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 0;
}
.button .arrow{
        width:20px;
        height: 25px;
        display: flex;
        margin-left: 0;
        
}      
.arrow:before {
        content: "";
        background: black;
        width:15px;
        clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
      }
/* /Home */


/* .about-me */
.main.about{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.title{
    transform: rotate(-90deg);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 43%;
    left: -230px;
    border-bottom: 1px solid rgba(255, 254, 254, 0.17);
}
.title h1 span{
    font-size: 126px;
    color:rgba(255, 254, 254, 0.17);
    cursor: pointer;
}
.title h1 .letter:nth-child(1):hover {
    text-shadow: 1px 1px 4px #fbff0039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(2):hover {
    text-shadow: 1px 1px 4px #0008ff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(3):hover {
    text-shadow: 1px 1px 4px #ff000039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(4):hover {
    text-shadow: 1px 1px 4px #00ff2643;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(5):hover {
    text-shadow: 1px 1px 4px #bf00ff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(6):hover {
    text-shadow: 1px 1px 4px #ffffff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(7):hover {
    text-shadow: 1px 1px 4px #00ffd939;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(8):hover {
    text-shadow: 1px 1px 4px #ff910039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
@keyframes identifier {

}
.circles{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 810px;
    bottom: 9%;
    right: 7%;
    margin: 0;
    padding: 0;
    filter: brightness(27%);
    overflow: visible;
    z-index: 0;
}
.circle{
    position: absolute;
    border-radius: 100000000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 12px #ffffff;
    
}
.spin.first{
    animation: spin 18s linear infinite;
}
.spin.mid{
    animation: spin 25s linear infinite;
}
.spin.last{
    animation: spin 32s linear infinite;
}

.circle.last{    
    width: 820px;
    height: 820px;
}
.circle.mid{
    left: 18%;
    bottom: 12%;
    width: 545px;
    height: 545px;
}
.circle.first{
    left: 35%;
    bottom: 25%;
    width: 303px;
    height: 303px;
}
.ball{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    padding: 0;
    margin: 0;
}

/* background-image: url('./pictures/'); */
.ball.a{
    transform: translate(300px, -260px);
    background-image: url('./pictures/redux\ react.png');
    z-index: 0;

}

.ball.c{
    transform: translate(-100px, 218px);
    background-image: url('./pictures/Typescript_logo_2020\ 1.png');
}
.ball.f{
    transform: translate(-185px, 0px);
    background-image: url('./pictures/HTML.png');
}
.ball.g{
    transform: translate(-50px, -190px);
    background-image: url('./pictures/CSS.png');
}
.ball.h{
    transform: translate(90px, -270px);
    background-image: url('./pictures/GitHub.png');
}
.ball.i{
    transform: translate(-250px, -220px);
    background-image: url('./pictures/git.png');
}
.ball.d{
    transform: translate(223px);
    background-image: url('./pictures/React\ ball.png');
}
.ball.e{
    transform: translate(60px, 60px);
    background-image: url('./pictures/JS.png');
}


@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.about-content{
    border: 1px solid;
    z-index: 5;
}
.information{
    width: 40%;
    margin-top: 0px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
.information h1{
    font-size: 4rem;
    line-height: 40px;
    font-weight: 500;
}
.information p{
    font-size: 1rem;
    margin: 2rem 0;
}
.information a{
    font-size: .85rem;
    font-style: italic;
    text-decoration: underline;
    filter: brightness(50%);
    transition: ease 250ms 100ms;
    width: 100px;
}
.information a:hover{
    filter: brightness(20%);
}
.information .row img{
    margin: 2rem 0 1rem;
    height: 456px;
    width: 342px;
    height: 456px;
    border-radius: 25px;
}

.information .row{
    display: flex;
    flex-direction: row;
}
.information .row .funFacts{
    display: flex;
    align-items: end;
    padding: 0 1rem;
    width: 500px;
}
.information .row .funFacts li{
    margin: .5rem 1rem;
}
/* /.about-me */



/* contacts */

.main.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-area h2{
    font-size: 64px;
    margin-bottom: 6rem;
    text-align: center;
}
.contact-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}
.icons{
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon{
    width: 74px;
    height: 74px;
}

.icon.git{
    background-image: url('./pictures/GitHubContacts.png');
    width: 74px;
    height: 74px;
}
.icon.email{
    background-image: url('./pictures/EmailContacts.png');
}
.icon.in{
    background-image: url('./pictures/inContacts.png');
}

.git-area, .email-area{
    position: relative;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    transition: ease 500ms ;
    overflow-x: hidden;
}

.user-git{
    position: absolute;
    margin-left: 2rem;
    font-size: 1rem;
    left: 70px;
    opacity: 0;
    transition: ease 500ms 150ms;
}
.invisible{
    opacity: 0;
}
.user-email{
    position: absolute;
    margin-left: 2rem;
    font-size: 1rem;
    left: 60px;
    opacity: 0;
    transition: ease 500ms 150ms;
}
.git-area:hover{
    width: 225px;
}
.email-area:hover{
    width: 250px;
}
.git-area:hover > .user-git{
    opacity: 1;
}
.email-area:hover > .user-email{
    opacity: 1;
}

/* /contacts */

/* .projects */
.main.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHolder{

    height: 560px;
}
.card{
    width: 500px;
    background-color: rgb(194, 194, 194);
    border: 2px solid white;
    height: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.card .title{
    left: -220px;
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--color-font-dark);
    text-shadow: 0px 0px 3px #000000;
    top: 46.5%;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.493);
    width: 100%;
}
.card-information{
    height: 100%;
    width: 89%;
    margin-left: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.card-information .websiteDisplay{
    width: 400px;
    height: auto;
    border-radius: 25px;
    margin-top: 1.5rem;
    box-shadow: 1px 1px 4px var(--color-primary-0);
    border: 1px solid var(--color-primary-0);
}
.card-information .description{
    font-size: 1rem;
    width: 80%;
    text-align: justify;
    color: var(--color-font-dark);
    margin-top: 1rem;
}
.card-information .languageList p{
    border: 1px solid red;
    justify-self: flex-end;
    color: var(--color-font-dark);
}
/* /projects */

/* Animations */
.glow-effect{
        text-shadow: 10px 10px 20px #ffffff;
        -webkit-animation: text-shadow-drop-center 2s ease-out infinite alternate both;
                animation: text-shadow-drop-center 2s ease-out infinite alternate both;
}

/* Keyframes */
@-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 1px 1px 12px #00e8e825 ;
    }
    100% {
      text-shadow: 1px 1px 12px var(--color-action-0);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 1px 1px 12px #00c9c91e;
    }
    100% {
      text-shadow: 1px 1px 12px var(--color-action-0);
    }
  }
  