@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--color-font);
    font-family: var(--main-font);
}
html{
    overflow: hidden;
}

a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(99, 99, 99, 0.3);
  }
::-webkit-scrollbar-thumb:hover{
  	background: rgba(97, 97, 97, 0.4);
  }
::-webkit-scrollbar-thumb:active{
  	background: rgba(99, 99, 99, 0.9);
  }
:root {
    --color-primary-0: #000000;
    --color-action-0: #00ffff;
    --color-third-0: rgb(0, 66, 66);
    --color-secondary-0: #FFFFFF;
    --color-font: #FFFFFF;
    --color-font-dark: #070707;
    --main-font: 'Rubik', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* App */
    .main-section {
        background-color: var(--color-primary-0);

        background:  url("./pictures/asd-modified.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
        box-shadow: inset 0px 100px 250px  10000px rgba(0, 0, 0, 0.801);        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-section.is_inverted{
        background-color: var(--color-primary-0);

        background:  url("./pictures/asd-dark.png"), linear-gradient(0deg, rgba(61, 61, 61, 0.9), rgba(255, 255, 255, 0.9));
        box-shadow: inset 0px 100px 250px  1000px rgba(214, 214, 214, 0.88);        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main{
        background-image: linear-gradient(rgb(3, 3, 3), rgb(5, 5, 5), rgb(10, 10, 10), rgb(15, 15, 15));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        z-index: 9999;
    }


/* /App */


/* NavBar */
.header{
    margin-top: 0rem;
    padding: 1.5rem 0rem;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}
.header.open{
    z-index: 9999;
}
.end-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 0 2rem;
    margin-right: 1rem;
}
.header .logo{
    z-index: 9999;
}
.header .logo h1{
    font-size: 2.25rem;
    font-family: 'Inspiration', cursive, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--color-font);
    padding: 0 2rem;
    
}

.contact-button{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 100vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.103);
    margin: -8px 2rem 0 2rem;
    color: var(--color-font);
    border: var(--color-action-0)  3px solid;
    box-shadow: 0px 0px 8px var(--color-action-0);
    transition: ease-in 500ms;
    overflow: hidden;
    z-index: 3;
}
.contact{
    position: absolute;
    left: 21px ;
    font-size: 1.25rem;
    cursor: pointer;
    z-index: 6;
}
.contact.hover{
    position: absolute;
    font-size: 1.25rem;
    left: -160px;
    background-color: #00ffff;
    width: 156px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    color: white;
    z-index: 6;
    border: 0px;
    cursor: pointer;
    transition: ease-in 500ms 500ms
}

.contact-button:hover > .contact.hover{
    left:0px;
    color: black;
    transition: ease-in 500ms 100ms;
}
.contact-button:hover > .contact{
    position: absolute;
    color: white;
    left: 100px;
    transition: ease-in 500ms 100ms;
}

.contact-button.is_inverted{
    color: var(--color-font-dark);
    border: var(--color-third-0) 3px solid;
    box-shadow: 0px 0px 8px var(--color-third-0);
    background-color: rgba(245, 245, 245, 0.151);
}
       /* Styling the menu button */
       
    .menu-btn {
        position: relative;
        z-index: 99999;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }   /* Styling the hamburger lines */
    .menu-btn .btn-line {
        width: 40px;
        height: 4px;
        margin: 0 0 10px 0;
        background: var(--color-secondary-0);
        transition: all 0.5s ease-out;
    }
    .menu-btn .btn-line.is_inverted{
        background: var(--color-primary-0);
    }

    /* blob{
        width: 1000px;
        position: absolute;
        top: -200px;
        right: -500px;
        height: 1000px;
        filter: drop-shadow(1px 2px 8px var(--color-third-0));
    } */
    /* Adding transform to the X */
.blob{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 2;
}
.blob.open{
    z-index: 9997;
}

/* @media (max-width: 420px) and (max-height:720px) {
    .blob.open{
        display: none;
    }
    .menu.open{
        background-color: var(--color-third-0);
        width: 100vw;
        height: 99.5vh;
        top: 0;
        right: 0;
    }
    .menublob.open{
        height: 100vh;
        position: relative;
    }
} */
@media (max-width: 425px){
    .blob.open{
        display: none;
    }
    .menu.open{
        background-color: var(--color-third-0);
        width: 100vw;
        height: 99.5vh;
        top: 0;
        right: 0;
    }
    .menublob.open{
        height: 100vh;
        position: relative;
    }
}
@media (max-height:725px){
    .blob.open{
        display: none;
    }
    .menu.open{
        background-color: var(--color-third-0);
        width: 420px;
        height: 99.5vh;
        top: 0;
        right: 0;
    }
    .menublob.open{
        height: 100vh;
        position: relative;
    }
    @media (max-width: 425px) {
        .blob.open{
            display: none;
        }
        .menu.open{
            background-color: var(--color-third-0);
            width: 100vw;
            height: 99.5vh;
            top: 0;
            right: 0;
        }
        .menublob.open{
            height: 100vh;
            position: relative;
        }
    }
}


    .closingcircle{
        background-color: var(--color-primary-0);
        position: absolute;
        border-radius: 100vw;
        width: 250px;
        height: 220px;
        right: -220px;
        top: -220px;
        transition: 450ms ease-out 100ms;
        z-index: 9999;
    }
    .closingcircle.open{
        filter: drop-shadow(1px 1px 4px var(--color-primary-0));
        right: -130px;
        top: -120px;
    }    
    .menublob{
        position: absolute;
        top: -900px;
        right: -1900px;
        width: 1700px;
        height: 1000px;
        z-index: 9997; 
        transition: 450ms ease-out 300ms;
    }
    .menublob.open{
        top: -200px;
        right: -900px;
        
    }
    .menu-btn.close {
        transform: rotate(180deg);
    }

    /* Styling the three lines to make it an X */
    .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }

    .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -9px);
    } 

    .menu{
        position: absolute;
        width: 300px;
        height: 600px;
        z-index: 9998;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        top: -600px;
        right: -300px;
        transition: 450ms ease-in-out 300ms,
        opacity 50ms ease-in 300ms;
        opacity: 0;
        /* help */
        overflow: hidden;
    }
    .menu.open{
        top: 0;
        right: 0;
        opacity: 1;
        z-index: 9999;
    }
    .menu #links{
        font-size: 2.25rem;
        font-weight: bold;
        margin: 1rem;
    }
    .menu #links:hover{
        color: rgba(255, 255, 255, 0.466);
    }

    .menu #links.active{
        color: rgba(255, 255, 255, 0);
        color: var(--color-third-0);
        text-shadow: -1.5px 1.5px 0 #ffffff,
                      1px 1.5px 0 #ffffff,
                     1px -1px 0 #ffffff;
    }
    @media (max-width:1349px) or (max-height: 639px) and (orientation:landscape){
        .closingcircle{
            display: none;
        }
        .closingcircle.open{
            display: block;
        }
        .menublob{
            display: none;
        }
        .menublob.open{
            display: block;
        }
        .menu{
            display: none;
        }
        .menu.open{
            display: flex;
        }
    }
    @media (orientation:portrait){
        .closingcircle{
            display: none;
        }
        .closingcircle.open{
            display: block;
        }
        .menublob{
            display: none;
        }
        .menublob.open{
            display: block;
        }
        .menu{
            display: none;
        }
        .menu.open{
            display: flex;
        }
    }
    @media (min-width: 1350px) and (min-height: 640px){
        .menu{
            display: flex;
        }
    }

    @media (aspect-ratio: 1 / 1) {
        .menu{
            display: flex;
        }
    }
    @media (max-width:900px) or (max-height: 800px) {
        header .logo{
            font-size: 2rem;
            margin-left: -.75rem;
            padding: 0;
            padding-left: 0;
        }
        .end-section{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            justify-self: flex-end;
            padding: 0 0rem;
            margin-right: 1rem;
        }
        .contact-button{
            width: 92px;
            height: 33px;
            margin: -8px 1rem 0 1rem;
        }
        .contact{
            left: 9px;
            font-size: .875rem;
        }
        .contact.hover{
            font-size: .875rem;
            left: -100px;
            width: 92px;
            height: 33px;
            
        }
        .menu-btn .btn-line {
            width: 30px;
            height: 3px;
            margin: 0 0 8px 0;
        }
    
        /* Styling the three lines to make it an X */
        .menu-btn.close .btn-line:nth-child(1) {
            transform: rotate(45deg) translate(6px, 6px);
        }
    
    }
    @media (max-height: 600px) {

        .menu #links{
            font-size: 1.5rem;
            font-weight: bold;
            margin: .75rem;
        }
        .seperatingMenu{
            width: 40px;
            height: auto;
        }

    }

    @media (max-width: 300px) {
        .header .logo h1 {
            padding: 0;
            padding-left: 0;
        }
    }
    @media (max-width: 230px) {
        .header .logo h1 {
            font-size: 1.75rem;
        }
    }

/* NavBar */



/* Home */
.main-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}
.content{
    display: flex;
    flex-direction: column;
    z-index: 15;
    align-items: center;
}
.content h1{
    font-size: 48px;
    text-align: center;
}

.content h1 .iam {
    font-size: 36px;
}
.content h1 .world{
    font-size: 64px;
    color: var(--color-action-0);
}
.content h1 .exclamation{
    font-size: 64px;
}
.content h1 .name {
    font-size: 48px;
    color: var(--color-action-0);
}    
.content h1.is_inverted, .iam.is_inverted, .exclamation.is_inverted{
    color: rgb(8, 8, 8);
}

.content h1 .name.is_inverted, .content h1 .world.is_inverted{
    color: var(--color-third-0);
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    width: 100%;
}
.button-section a{
    width: auto;
}
.button{
    border-radius: 20px;
    width: 100%;
    border: 1px solid black;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button p{
    color: rgb(7, 7, 7);
    font-size: 32px;
    font-weight: bold;
    margin: 1rem .5rem;
}
.line{
    width: 20px;
    height: 5px;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 0;
}
.button .arrow{
        width:20px;
        height: 25px;
        display: flex;
        margin-left: 0;
        
}      
.arrow:before {
        content: "";
        background: black;
        width:15px;
        clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
      }
.projects{
    background-color: var(--color-action-0);
}
.about-me{
    background-color: var(--color-secondary-0);
}



    @media (max-width:900px) or (max-height: 800px){
        .button p{
            font-size: 1.15rem;
            margin: .85rem .5rem;
        }
        .line{
            width: 15px;
            height: 3px;
        }
        .button .arrow{
            width: 15px;
            height: 18px;
        }
    }
    @media (max-width:730px) or (max-height: 715px) {
        .content h1{
            font-size: 36px;
            text-align: center;
        }
        
        .content h1 .iam {
            font-size: 24px;
        }
        .content h1 .world{
            font-size: 52px;
            color: var(--color-action-0);
        }
        .content h1 .exclamation{
            font-size: 52px;
        }
        .content h1 .name {
            font-size: 36px;
            color: var(--color-action-0);
        }    
    }
    @media (max-width:420px) {
        .button p{
            font-size: 1.05rem;
            margin: .55rem .5rem;
        }
        .line{
            width: 7px;
            height: 3px;
        }
        .button .arrow{
            width: 10px;
            height: 15px;
        }
        .button{
            margin: 0rem .15rem;
        }
        .content h1{
            font-size: 24px;
            text-align: center;
        }
        
        .content h1 .iam {
            font-size: 16px;
        }
        .content h1 .world{
            font-size: 40px;
            color: var(--color-action-0);
        }
        .content h1 .exclamation{
            font-size: 40px;
        }
        .content h1 .name {
            font-size: 24px;
            color: var(--color-action-0);
        } 
    }
    @media (max-width:300px) {
        .button-section{
            flex-direction: column;
            width: 50%;
            align-items: center;
            justify-content: center;
            margin-top: 0;
        }
        .button{
            margin-top: 15px;
        }
        
    }
    @media (max-height: 500px) {
        .content{
            position: relative;
            margin-top: 10px;
        }
        .main-section{
            height: 580px;
            background-size: cover;
            background-repeat: repeat-y;
        }
        html{
            overflow-y: scroll;
        }
    }
/* /Home */


/* .about-me */
.main.about{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.title{
    transform: rotate(-90deg);
    position: absolute;
    display: flex;
    justify-content: center;
    top: 43%;
    left: -230px;
    border-bottom: 1px solid rgba(255, 254, 254, 0.17);
    z-index: 1;
}
.title h1 span{
    font-size: 7.875rem;
    color:rgba(255, 254, 254, 0.17);
    cursor: pointer;
}
.title h1 .letter:nth-child(1):hover {
    text-shadow: 1px 1px 4px #fbff0039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;

}
.title h1 .letter:nth-child(2):hover {
    text-shadow: 1px 1px 4px #0008ff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(3):hover {
    text-shadow: 1px 1px 4px #ff000039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(4):hover {
    text-shadow: 1px 1px 4px #00ff2643;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(5):hover {
    text-shadow: 1px 1px 4px #bf00ff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(6):hover {
    text-shadow: 1px 1px 4px #ffffff39;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(7):hover {
    text-shadow: 1px 1px 4px #00ffd939;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}
.title h1 .letter:nth-child(8):hover {
    text-shadow: 1px 1px 4px #ff910039;
    filter: drop-shadow(1px 1px 4px white);
    transition: ease 150ms 75ms;
}

.circles{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 810px;
    bottom: 9%;
    right: 7%;
    margin: 0;
    padding: 0;
    filter: brightness(27%);
    overflow: visible;
    z-index: 0;
}
.circle{
    position: absolute;
    border-radius: 100000000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 12px #ffffff;
    
}
.spin.first{
    animation: spin 18s linear infinite;
}
.spin.mid{
    animation: spin 25s linear infinite;
}
.spin.last{
    animation: spin 12s linear infinite;
}

.circle.last{    
    width: 820px;
    height: 820px;
}
.circle.mid{
    left: 18%;
    bottom: 12%;
    width: 545px;
    height: 545px;
}
.circle.first{
    left: 35%;
    bottom: 25%;
    width: 303px;
    height: 303px;
}
.ball{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    padding: 0;
    margin: 0;
}

/* background-image: url('./pictures/'); */
.ball.a{
    transform: translate(300px, -260px);
    background-image: url('./pictures/redux\ reactlarge.png');
    z-index: 0;

}

.ball.c{
    transform: translate(-100px, 218px);
    background-image: url('./pictures/Typescript_logo_2020\ 1large.png');
}
.ball.f{
    transform: translate(-185px, 0px);
    background-image: url('./pictures/HTMLlarge.png');
}
.ball.g{
    transform: translate(-50px, -190px);
    background-image: url('./pictures/CSSlarge.png');
}
.ball.h{
    transform: translate(90px, -270px);
    background-image: url('./pictures/GitHublarge.png');
}
.ball.i{
    transform: translate(-250px, -220px);
    background-image: url('./pictures/gitlarge.png');
}
.ball.d{
    transform: translate(223px);
    background-image: url('./pictures/React\ balllarge.png');
}
.ball.e{
    transform: translate(60px, 60px);
    background-image: url('./pictures/JSlarge.png');
}


@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.about-content{
    border: 1px solid;
    z-index: 9997;
}
.information{
    width: 40%;
    margin-top: 0px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    z-index: 9997;
}
.information h1{
    font-size: 4rem;
    line-height: 40px;
    font-weight: 500;
}
.information p{
    font-size: 1rem;
    margin: 2rem 0;
}
.information a{
    font-size: .85rem;
    font-style: italic;
    text-decoration: underline;
    filter: brightness(50%);
    transition: ease 250ms 100ms;
    width: 100px;
    z-index: 9999;
}
.information a:hover{
    filter: brightness(20%);
}
.information .row img{
    margin: 2rem 0 1rem;
    height: 456px;
    width: 342px;
    border-radius: 25px;
}

.information .row{
    display: flex;
    flex-direction: row;
}
.information .row .funFacts{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 500px;
}
.information .row .funFacts li{
    margin: .5rem 1rem;
    font-size: 0.875rem;
}
@media (max-width: 1512px) {
    .information .row .funFacts li{
        font-size: 12px;
    }
    .circles{
        bottom: 9%;
        right: 3%;
    }
    .information{
        margin-left: 160px;
    }
    .title{
        left:-250px;
    }
}
@media (max-height:970px) {
    .circles{
        bottom: 5%;
        right: 3%;
    }
}
@media (max-height:940px) or (max-width:1406px) {
    .circles{
        width: 525px;
        height: 525px;
        bottom: 8%;
        right: 4%;
    }
    .circle.last{    
        width: 525px;
        height: 525px;
    }
    .circle.mid{
        left: 18%;
        bottom: 12%;
        width: 349px;
        height: 349px;
    }
    .circle.first{
        left: 35%;
        bottom: 25%;
        width: 194px;
        height: 194px;
    }
    .ball{
        width: 57px;
        height: 57px;
    }
    .ball.a{
        transform: translate(200px, -160px);
        background-image: url('./pictures/redux\ reactmed.png');
    }
    .ball.c{
        transform: translate(60px, 118px);
        background-image: url('./pictures/Typescript_logo_2020\ 1med.png');
    }
    .ball.f{
        transform: translate(-115px, 0px);
        background-image: url('./pictures/HTMLmed.png');
    }
    .ball.g{
        transform: translate(-30px, -120px);
        background-image: url('./pictures/CSSmed.png');
    }
    .ball.h{
        transform: translate(70px, -170px);
        background-image: url('./pictures/GitHubmed.png');
    }
    .ball.i{
        transform: translate(-150px, -150px);
        background-image: url('./pictures/gitmed.png');
    }
    .ball.d{
        transform: translate(-170px, 70px);
        background-image: url('./pictures/React\ ballmed.png');
    }
    .ball.e{
        transform: translate(40px, 40px);
        background-image: url('./pictures/JSmed.png');
    }
    .information{
        width: 45%;
    }
}
@media (max-height: 885px) or (max-width:1054px) {
    .information .row img{
        width: 200px;
        height: 267px;
    }
}
@media (max-height: 719px) or (max-width:1155px){
    .title{
        left: -160px;
    }
    .title h1 span{
        font-size: 5rem;
    }
    .information{
        margin-left: 110px;
        width: 55%;
    }
    .information p{
        margin: 1.5rem;
    }
}
@media (max-height: 710px) or (max-width:542px){ 
    .information{
        margin-top: 80px;
    }
    .title{
        top: 320px;
    }
    .main.about{
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100dvw;
    }
}
@media (min-height: 641px){
    .main.about{
        height: 100vh;
    }
    html{
        overflow-y: scroll;
    }
}
@media (max-height: 800px) {
        .information{
            margin-top: 70px;
    }    
    html{
        overflow-y: scroll;
    }
    .main.about{
        height: 860px;
    }
}
@media (max-height: 640px) {
    .information .row{
        align-items: center;
        flex-direction: column;
    }

}
@media (max-width:900px) {
    .information{
        width: 80%;
    }
    .information .row .funFacts{
        width: 250px;
    }
}
@media (max-width:713px) {
    .title{
        display: none;
    }
    .information{
        margin-left: 20px;
        width: 90%;
    }
}
@media (max-width:595px) or (max-height:637px){
    .circles{
        width: 330px;
        height: 330px;
        bottom: 0px;
        top: 30%;
    }
    .circle.last{    
        width: 330px;
        height: 330px;
    }
    .circle.mid{
        left: 18%;
        bottom: 12%;
        width: 216px;
        height: 216px;
    }
    .circle.first{
        left: 35%;
        bottom: 25%;
        width: 119px;
        height: 119px;
    }
    .ball{
        width: 36px;
        height: 36px;
    }
    .ball.a{
        transform: translate(120px, -110px);
        background-image: url('./pictures/redux\ reactsmall.png');
    }
    .ball.c{
        transform: translate(38px, 74px);
        background-image: url('./pictures/Typescript_logo_2020\ 1small.png');
    }
    .ball.f{
        transform: translate(-70px, 0px);
        background-image: url('./pictures/HTMLsmall.png');
    }
    .ball.g{
        transform: translate(-20px, -76px);
        background-image: url('./pictures/CSSsmall.png');
    }
    .ball.h{
        transform: translate(50px, -100px);
        background-image: url('./pictures/GitHubsmall.png');
    }
    .ball.i{
        transform: translate(-90px, -98px);
        background-image: url('./pictures/gitsmall.png');
    }
    .ball.d{
        transform: translate(-100px, 48px);
        background-image: url('./pictures/React\ ballsmall.png');
    }
    .ball.e{
        transform: translate(20px, 25px);
        background-image: url('./pictures/JSsmall.png');
    }
    
}
@media (max-width:595px) {
    .information{
        width: 90%;
    }
}

@media (max-width: 457px) {
    .information {
        width: 95%;
        margin-left: 5px;
    }
    .information .row .funFacts li{
        font-size: .55rem;
    }
    .information .row .funFacts h4{
        font-size: .75rem;
    }
    .information h1{
        font-size: 3rem;
        line-height: 30px;
    }
}
@media (max-width: 360px) {
    .information .row{
        align-items: center;
        flex-direction: column;
    }
    .information{
        margin-top: 0 ;
        padding: 130px 0;
    }    
    html{
        overflow-y: scroll;
    }
    .main.about{
        height: auto;
    }
}
@media (max-width: 260px) {
    .information .row .funFacts{
        width: 90%;
    }
}
/* /.about-me */



/* contacts */

.main.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-area h2{
    font-size: 64px;
    margin-bottom: 6rem;
    text-align: center;
    z-index: 10;
}
.contact-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
}
.icons{
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon{
    width: 74px;
    height: 74px;
}

.icon.git{
    background-image: url('./pictures/GitHubContacts.png');
    width: 74px;
    height: 74px;
}
.icon.email{
    background-image: url('./pictures/EmailContacts.png');
}
.icon.in{
    background-image: url('./pictures/inContacts.png');
}

.git-area, .email-area{
    position: relative;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    transition: ease 500ms ;
    overflow-x: hidden;
    z-index: 2;
}

.user-git{
    position: absolute;
    margin-left: 2rem;
    font-size: 1rem;
    left: 70px;
    opacity: 0;
    transition: ease 500ms 150ms;
}
.invisible{
    opacity: 0;
}
.user-email{
    position: absolute;
    margin-left: 2rem;
    font-size: 1rem;
    left: 60px;
    opacity: 0;
    transition: ease 500ms 150ms;
}
.git-area:hover{
    width: 225px;
}
.email-area:hover{
    width: 250px;
}
.git-area:hover > .user-git{
    opacity: 1;
}
.email-area:hover > .user-email{
    opacity: 1;
}
@media (max-width: 1360px) {
    .contact-area h2{
        font-size: 3rem;
    }
}
@media (max-width: 980px) {
    .contact-area h2{
        font-size: 2.5rem;
    }
}
@media (max-width: 845px) {
    .contact-area h2{
        font-size: 2rem;
    }
}
@media (max-width:615px) {
    .icons{
        width: 99vw;
    }
}
@media (max-width:550px) {
    .contact-area{
        width: 90vw;
    }
}
@media (max-height:710px) {
    .contact-area{
        margin-top: 80px;
        padding: 100px 0;
    }
}
@media (max-height: 640px){
    .main.contacts{
        height: 640px;
    }
}
@media (max-width:450px) {
    .git-area:hover{
        width: 74px;
    }
    .email-area:hover{
        width: 74px;
    }
}
@media (max-width:360px) {
    .contact-area{
        margin-top: 80px;
        padding: 100px 0;
    }    
    
}
@media (min-height: 680px) and (max-width:360px){
    .main.contacts{
        height: 100vh;
    }


}
/* /contacts */

/* .projects */
.main.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 560px;
    z-index: 9999;
}
.cardHolder > .card:not(:first-child) {
    margin-left: -420px;
}

.card:nth-child(1) {
    z-index: 1;    
    -webkit-animation: slide-in-left 750ms 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 750ms 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.card:nth-child(2) {
    z-index: 2;
    -webkit-animation: slide-in-left 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.card:nth-child(2):hover{
    margin: 0 100px 100px -300px;
    z-index: 15;
}
.card:nth-child(1):hover{
    margin: 0 100px 100px 100px;
    z-index: 15;
}

.card{
    width: 500px;
    
    border: 2px solid white;
    height: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: 350ms ease-in 250ms;
}
.card.light{
    background-color: rgb(194, 194, 194);
    color: var(--color-font-dark);
}
.card.dark{
    background-color: var(--color-third-0);
    color: var(--color-font);
}

.card.dark .title,
.card.dark .card-information,
.card.dark .card-information .languageList p,
.card.dark .card-information .languageList h3,
.card.dark .card-information .description{
    color: var(--color-font);
}
.card.light .title,
.card.light .card-information,
.card.light .card-information .languageList p,
.card.light .card-information .languageList h3,
.card.light .card-information .description{
    color: var(--color-font-dark)
}

.card.light .title{
    border-bottom: 2px solid rgba(0, 0, 0, 0.493);
    text-shadow: 0px 0px 3px #000000;
}
.card.dark .title{
    border-bottom: 2px solid rgba(255, 255, 255, 0.493);
    text-shadow: 0px 0px 3px #ffffff;
}

.card .title{
    left: -220px;
    font-size: 2.25rem;
    font-weight: bold;
    top: 46.5%;
    margin: 0;
    width: 100%;
}
.card-information{
    height: 100%;
    width: 89%;
    margin-left: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.card-information .websiteDisplay{
    width: 400px;
    height: auto;
    border-radius: 25px;
    margin-top: 1.5rem;
    box-shadow: 1px 1px 4px var(--color-primary-0);
    border: 1px solid var(--color-primary-0);
}
.card-information .description{
    font-size: 1rem;
    width: 80%;
    text-align: justify;
    margin-top: 1rem;
}
.card-information .languageList p{
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.card-information .languageList{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* /projects */

/* Animations */
.glow-effect{
        text-shadow: 10px 10px 20px #ffffff;
        -webkit-animation: text-shadow-drop-center 2s ease-out infinite alternate both;
                animation: text-shadow-drop-center 2s ease-out infinite alternate both;
}

/* Keyframes */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
@-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 1px 1px 12px #00e8e825 ;
    }
    100% {
      text-shadow: 1px 1px 12px var(--color-action-0);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 1px 1px 12px #00c9c91e;
    }
    100% {
      text-shadow: 1px 1px 12px var(--color-action-0);
    }
  }
  